---
const stats = [
  {
    name: 'Years',
    value: '9',
  },
  {
    name: 'Experts',
    value: '15',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Awards',
    value: "'9'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about_us.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg mb-20">
              私たちは、商品を通じて、お客様の生活を豊かにすることを目指しています。

              そのために、お客様のニーズを第一に考え、時代の変化に対応した商品を、安心・安全・スピーディーにお届けすることを目指しています。

              私たちは、お客様が日常生活の中で、商品を通じて、笑顔や喜びを感じていただくことを願っています。<br><br>

              そのためには、お客様のニーズを常に把握し、時代の変化に対応した商品をラインナップすることが重要です。また、品質管理にも徹底的にこだわり、お客様に安心してご利用いただける商品を提供することも重要です。

              さらに、私たちは、地域社会に貢献することも大切だと考えています。地域の活性化に貢献することで、お客様の生活をより豊かにすることにつながると考えています。<br><br>

              私たちは、これらの取り組みを通じて、お客様に喜んでいただき、地域社会に貢献していきたいと考えています。
            </p>
          </div>
        </div>

        <!-- Stats -->
        <!-- <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl> -->
      </div>
    </div>
  </div>
</section>
