---
const values = [
  [
    {
      ref: '01',
      name: '利益を上げること',
      description:
        '私たちは、利益を上げること、顧客に価値を提供すること、従業員を大切にすること、社会に貢献することを大切にしています。利益を上げることは、企業の最も基本的な役割です。利益を上げることで、事業を継続し、従業員や取引先、社会に対して責任を果たすことができます。私たちは、常に新しい商品やサービスを開発し、効率的な生産体制を構築することで、利益を上げることに努めています。',
    },
    {
      ref: '02',
      name: '顧客に価値を提供する',
      description:
        '顧客に価値を提供することは、利益を上げるためには欠かせません。顧客のニーズを理解し、そのニーズを満たす商品やサービスを提供することで、顧客の満足度を高め、リピーターを増やすことができます。私たちは、顧客の声に耳を傾け、ニーズを把握することに努めています。また、商品やサービスの品質を高めることで、顧客に価値を提供しています。',
    },
  ],
  [
    {
      ref: '03',
      name: '従業員を大切にする',
      description:
        '従業員を大切にするということは、顧客に価値を提供するためにも欠かせないものです。従業員がやりがいを持って働けることで、顧客満足度を高めることができるからです。従業員がやりがいを持って働くためには、以下のような要素が重要です。仕事に誇りを持って取り組める自分の能力を最大限に発揮できる自分の成長を実感できるこれらの要素を満たすことができれば、従業員は仕事に前向きになり、顧客に価値のあるサービスを提供することができます。従業員の能力を伸ばし、やりがいを持って働ける環境を整えることで、従業員を大切にしています。',
    },
    {
      ref: '04',
      name: '社会に貢献する',
      description:
        '社会に貢献することは、企業の社会的責任です。社会に貢献することで、企業の信頼を高めることができます。私たちは、環境保護や地域貢献など、さまざまな社会貢献活動を行っています。私たちは、これらの4つの要素をバランスよく実現することで、良い会社を創り上げていきたいと考えています。',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-semibold">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
