---
const services = [
  {
    step: '01',
    name: '日用雑貨',
    description:
      'お客様の生活に欠かせない商品を幅広く取り扱っております。日用雑貨は、私たちの生活になくてはならないものであり、その種類は多岐にわたります。また、お客様のニーズに合わせた商品のご提案や、スピーディーな対応にも力を入れております。',
  },
  {
    step: '02',
    name: '食品',
    description:
      'お客様に最適な食品をお届けするために、常に新しい商品を探しています。お客様のニーズに応える、よりおいしい食材をお届けできるよう、これからも努力してまいります。',
  },
  {
    step: '03',
    name: '菓子',
    description:
      '全国各地の菓子メーカーから仕入れた菓子を、取り扱い・販売しております。取り扱い商品は、チョコレート、クッキー、ビスケット、駄菓子など多岐にわたります。菓子を通じて、お客様に喜びと幸せをお届けすることをモットーとしております。',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Products</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-base">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
